recursive-include DyMaskRefactor/configs *.json
recursive-include DyMaskRefactor/third_party/NTIP2P *.py *.md LICENSE requirements.txt
recursive-include DyMaskRefactor/third_party/dino *.py *.md LICENSE
